<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>SISTEMA DE APOYO A DECISIONES</title>
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- Bootstrap core CSS -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <!-- Material Design Bootstrap -->
    <link href="/css/mdb.min.css" rel="stylesheet">
    <!-- Your custom styles (optional) -->
    <link href="/css/style.css" rel="stylesheet">
</head>

<body>
	<div id="contenedor">
		<div id="cabecera" align="center" ><h1 >SISTEMA DE APOYO A DECISIONES</h1></div>
		
		<div id="menu" align="center">
			<nav class="nav-menu">
			<ul class="clearfix">
					<li><a href="/index" class="linksMenu">Home</a></li>
					<li><a href="/empresas" class="linksMenu">Empresas</a></li>
					<li><a href="/indicadores" class="linksMenu">Indicadores</a></li>
					<li><a href="/metodologias" class="linksMenu">Metodolog&iacuteas</a></li>
					<li><a href="/logout" class="linksMenu"> Cerrar Sesi&oacuten</a></li>
				</ul>
			</nav>
		</div>
		
		<div id="submenu">
			<br>
			<p class="linksSubmenu"><a href="/metodologias" class="links" >Aplicar Metodolog&iacutea</a></p>
			<p class="linksActual">Cargar Metodolog&iacutea</p>
		</div>

		<div id="contenido" align="center"> <br><br>
			<h2>Registro de metodologi&#769;as</h2>
			
				<!-- P R I O R I Z A D A -->
				<form id="forma2" style="height: 900px;" method="POST" action="/resultadoCargarMetodologia" ><br><br>
					
					<input type="text" name="nombreMetodologia" placeholder="Nombre de la Metodologi&#769;a"  style="width:600px"><br><br><br>
					<input type="checkbox" id="priorizada" name="chkPriorizada" onChange="myFunction1()"><b>Metodolog&iacutea Priorizada
					<br>
					<fieldset >
						<P align="center"><b>Seleccionar Indicador:	
						<select id="mySelectIndicadores" name="selectIndicadoresPrio" disabled>
							<option >Seleccionar</option>
							{{#	each indicadores}}
							<option value={{nombre}}>{{nombre}}</option>
							{{/each}}	
						</select>
						<br>
						<P align="center"><b>Seleccionar Orden:	
						<select id="orden" name="selectOrdenPrio" disabled>
							<option >Seleccionar</option>
							<option >Ascendente</option>
							<option >Descendente</option>
						</select>
						<p>*Segun el indicador seleccionado, las empresas que no puedan evaluar el indicador en el periodo elegido, no se mostraran en el resultado de la metodologia.</p>
					</fieldset ><br>
					
					<!-- T A X A T I V A -->
					<input type="checkbox" id="taxativa" name="chkTaxativa" ><b>Metodolog&iacutea Taxativa
					<fieldset >
						<!-- R E G L A  1 -->
						
						<P align="center">
						<input type="checkbox" id="regla1" name="chkRegla1" onChange="myFunctionRegla('1')">
						<b>Seleccionar Indicador:	
						<select id="indicadorCondicion" name="taxIndicadorCondicion" class="regla1" disabled>
							<option >Seleccionar</option>
							{{#each indicadores}}
							<option value={{nombre}}>{{nombre}}</option>
							{{/each}}	
						</select>
						<br>
						<P align="center"><b>Seleccionar Condici&oacuten:	
						<select id="criterioCondicion" name="taxCriterioCondicion" class="regla1" disabled>
							<option >Seleccionar</option>
							<option >Mayor A</option>
							<option >Menor A</option>
							<option >Igual A</option>
						</select>
						<P align="center"><b>Insertar Valor:<input type="text" name="txtTaxValor" class="regla1" id="valor" disabled>
						<br>
						
						<br>
						<!-- R E G L A  2 -->
						
						<P align="center">
						<input type="checkbox" id="regla2" name="chkRegla2" onChange="myFunctionRegla('2')">
						<b>Seleccionar Indicador:	
						<select id="indicadorCondicion2" name="taxIndicadorCondicion2" class="regla2" disabled>
							<option >Seleccionar</option>
							{{#each indicadores}}
							<option value={{nombre}}>{{nombre}}</option>
							{{/each}}	
						</select>
						<br>
						<P align="center"><b>Seleccionar Condici&oacuten:	
						<select id="criterioCondicion2" name="taxCriterioCondicion2" class="regla2" disabled>
							<option >Seleccionar</option>
							<option >Mayor A</option>
							<option >Menor A</option>
							<option >Igual A</option>
						</select>
						<br>
						<P align="center"><b>Insertar Valor:<input type="text" name="txtTaxValor2" id="valor2" class="regla2" disabled>
						<br>
						
						<!-- R E G L A  3 -->
						
						<P align="center">
						<input type="checkbox" id="regla3" name="chkRegla3" onChange="myFunctionRegla('3')">
						<b>Seleccionar Indicador:	
						<select id="indicadorCondicion3" name="taxIndicadorCondicion3" class="regla3" disabled>
							<option >Seleccionar</option>
							{{#each indicadores}}
							<option value={{nombre}}>{{nombre}}</option>
							{{/each}}	
						</select>
						<br>
						<P align="center"><b>Seleccionar Condici&oacuten:	
						<select id="criterioCondicion3" name="taxCriterioCondicion3" class="regla3" disabled>
							<option >Seleccionar</option>
							<option >Mayor A</option>
							<option >Menor A</option>
							<option >Igual A</option>
						</select>
						<br>
						<P align="center"><b>Insertar Valor:<input type="text" name="txtTaxValor3" id="valor3" class="regla3" disabled>
						<br>
						
		
						<p>Desea que se cumplan:
						<input type="radio" name="radioCondiciones"><b>Todas las condiciones
						<input type="radio" name="radioCondiciones"><b>Al menos una condicio&#769;n
						<p align="center">
							<!--<div class="container-fluid no-padding ">-->
								<button type="submit" class="button" id="btn-registro-meto">Registrar</button>
							<!--</div>-->
						</p>
						
						
					</fieldset>
					
					
				<br><br><br><br><br><br>
				<script languaje="javascript">
					function myFunction1() {

					  //var elements = document.getElementsByName("prio");
					  var elementsIndicadores = document.getElementsByName("selectIndicadoresPrio");
					  var elementsOrdenPrio = document.getElementsByName("selectOrdenPrio");
					  
					  
					  
					  var el = document.getElementById("priorizada");

					  //for (var i = 0; i < elements.length; i++) {
						if (el.checked) {
						  //elements[i].disabled = false;
						  elementsIndicadores[0].disabled = false;
						  elementsOrdenPrio[0].disabled = false;
						} else {
						 // elements[i].disabled = true;
							 elementsIndicadores[0].disabled = true;
							  elementsOrdenPrio[0].disabled = true;
						}
					  //}
					}
					
					function myFunction2() {

					  //var elements = document.getElementsByName("tax");
					  var elementsTax1 = document.getElementsByName("taxIndicadorCondicion");
					  var elementsTax2 = document.getElementsByName("taxCriterioCondicion");
					  var elementsTax3 = document.getElementsByName("txtTaxValor");
					  
					  
					  var el = document.getElementById("taxativa");

					  //for (var i = 0; i < elements.length; i++) {
						if (el.checked) {
						  //elements[i].disabled = false;
						  elementsTax1[0].disabled = false;
						  elementsTax2[0].disabled = false;
						  elementsTax3[0].disabled = false;
						} else {
						  //elements[i].disabled = true;
						  elementsTax1[0].disabled = true;
						  elementsTax2[0].disabled = true;
						  elementsTax3[0].disabled = true;
						}
					  //}
					}
					
					function myFunctionRegla(id){
						var elements = document.getElementsByClassName("regla"+ id);
						var el = document.getElementById("regla"+ id);
						
						for (var i = 0; i < elements.length; i++) {
							if (el.checked) {
	
							  elements[i].disabled = false;
							  
							} else {
							  elements[i].disabled = true;
							  
							}
						}
					}
				</script>

				
					<!--table class="table table-bordered" id="tabla-resultados">
						<thead>
							<tr>
								<th colspan="3" id="table-header-condiciones">Condiciones</th>
								
							</tr>
							<tr>
								
								<th id="table-header-condiciones-indicador">Indicador</th>
								<th id="table-header-condiciones-criterio">Criterio</th>
								<th id="table-header-condiciones-valor">Valor</th>
							</tr>
							
						</thead>
						<tbody id="tabla-metodologias">
						</tbody>
					</table-->
				
				</form>
		</div>
		
	</div>
	<!-- JQuery -->
	<script type="text/javascript" src="/js/jquery-3.2.1.min.js"></script>
	<!-- Bootstrap tooltips -->
	<script type="text/javascript" src="/js/popper.min.js"></script>
	<!-- Bootstrap core JavaScript -->
	<script type="text/javascript" src="/js/bootstrap.min.js"></script>
	<!-- MDB core JavaScript -->
	<script type="text/javascript" src="/js/mdb.min.js"></script>
		<script src="/js/script.js?t=1505655903377"></script>
	<!-- Latest compiled and minified JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
			integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
			crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.4/js/bootstrap-select.min.js"></script>
</body>
</html>
